@font-face {
  font-family: SourceHanSerifTC-Heavy;
  src: url('../font/SourceHanSerifTC-Heavy.otf') format('opentype');
}
@font-face {
  font-family: AdobeArabic;
  src: url('../font/AdobeArabicBold.otf') format('opentype');
}
