.voice-wrapper {
  border-top: solid 1px rgb(62, 62, 62);
  border-bottom: solid 1px rgb(62, 62, 62);
  padding: 20px 0;
  margin-bottom: 48.5px;
}
.voice-text {
  font-size: 20px;
  line-height: 1.7;
}
